body {
	background-color: #ebe3e0;
}

img {
	box-shadow: 1px 3px 11px darkorange;
	border: 1px outset green;
}

table {
	text-align: left;
	width: 100%;
	background-color: #e3d6c6;
	border-collapse: collapse;
	border-left: 3px solid blue;
	border-radius: 3px;
}

h1,h3 {
	color: darkorange;
	text-align: left;
}
h2 {
	color: black;
	text-align: center;
}
h4 {
	color: black;
	text-align: left;
}
h5 {
	color: blue;
	text-align: left;
}

p {
	font-family: verdana;
	font-size: 11px;
}

.flash_button {
	background: forestgreen;
	padding:1px 3px;
	color:#fff;
	border:none;
	border-radius:3px;

	animation-name: flash;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes flash {
	0% { opacity: 1.0; }
	10% { opacity: 0.9; }
	20% { opacity: 0.8; }
	30% { opacity: 0.7; }
	40% { opacity: 0.6; }
	50% { opacity: 0.5; }
	60% { opacity: 0.6; }
	70% { opacity: 0.7; }
	80% { opacity: 0.8; }
	90% { opacity: 0.9; }
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: darkorange;
}

.inner {
	position: relative;
	max-width: 500px;
	padding: 10px 5px;
	margin: 0 auto;
	top: 66px;
	z-index: 0;
}

.topright {
	position: fixed;
	top:0;
	text-align: right;
	right:0;
	z-index: 1;
}
.navbar {
	position: fixed;
	top:0;
	width: 100%;
	background-color: #dde0cd;
	opacity: 0.90;
	left:0;
	z-index: 1;
}
